

@mixin breakpoint($bp, $direction: up) {
    $map: (
      xl: (min: 1200px, max: 4294967296px),
      lg: (max: 1199px, min: 992px),
      md: (max: 991px, min: 768px),
      sm: (max: 767px, min: 576px),
      xs: (max: 576px, min: 0)
    );
  
    $end-map: (
      up: min,
      down: max
    );
    $end: map_get($end-map, $direction);
    $query-attr: #{$end}-width;
    $bound: map_get($map, $bp);
    $bound-val: map_get($bound, $end);
  
    @media (#{$query-attr}: $bound-val) {
      @content;
    }
  }

/* NAVBAR */
.nav-item {
    @include breakpoint(md, up) {
        padding: 0 35px;
    }
}
.navbar-inner {
  background:transparent;
}

.navbar {
}

.nav-link{
}